.env
.env.local
.env.docker
!.env-example
!.env.local-example
!.env.docker-example
dumps/*.sql
*.db
*.sqlite3
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
dumps/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
env/
ENV/
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/
Thumbs.db
db.desktop
.DS_Store